<script lang="ts">
import Vue from 'vue';
import { MetaInfo } from 'vue-meta/types/vue-meta';
import { init } from 'aos';
import { getPageMetadata } from '~/common/meta';
import FeaturesTemplate from '~/components/features/templates/features-template.vue';

export default Vue.extend({
  components: {
    FeaturesTemplate,
  },
  async asyncData({ $content, params }) {
    return {
      feature: await $content('features', params.slug)
        .where({ slug: { $not: { $contains: ['features-partial'] } } })
        .fetch(),
    };
  },
  head(): MetaInfo {
    return getPageMetadata((this as any).feature, this.$route.path);
  },
  computed: {
    showFeatures() {
      const components = Object.keys(this.feature)
        .slice(1, -5)
        .reduce((result, key) => {
          // eslint-disable-next-line no-param-reassign
          result[key] = this.feature[key];
          return result;
        }, {});
      return components;
    },
  },
  beforeMount() {
    init({
      once: true,
    });
  },
});
</script>

<template>
  <features-template v-if="feature.template === 'feature'" :page="feature" />
</template>
